<p>Listing Widgets</p>

{{#listing}}

<p>
    <b>Title</b>: {{title}}
  <b>Description</b>: {{description}}
| <a href="{{show_path}}">Details</a></p>

{{/listing}}

<p><a href="{{new_path}}">New</a></p>
